<ul class="navbar-nav navbar-right ml-auto">

<li class="nav-item"> 
<a class="nav-link" href="../../index.html">Home</a> 
</li>

<li class="nav-item">
<a class="nav-link" href="../../projects">Current Projects</a>
</li>

<li class="nav-item">
<a class="nav-link" href="../../academic">Academic Projects</a>
</li>



</ul>

<!-- search duckduckgo -->
<form class="form-inline" action="https://duckduckgo.com/" method="POST">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
<input type="hidden" name="sites" value="https://git.joepcs.com"><button class="btn btn-outline-warning" type="submit">Search</button>
</form>

</div>
</div>
</nav>

<button onclick="topFunction()" class="btn-outline-warning btn-sm" id="myBtn" title="Go to top">Top</button>

<div class="container">

<div class="row">

<div class="col-md card-body">
<!-- page content starts here -->
