<div class="container">

<p>Updated {{DATE}}. <a href="#top">Back to top</a></p>                                                                                                                                   
<p>
&copy; 2017-2018 {{SITE_NAME}} 
&middot; <a href="../../privacy.html">Privacy</a>
</p> 

</div>

<script src="../../assets/main.js"></script>

</body></html>
