/* CSS tricks to make markdown look more pretty */

/* hr should be thinnr than bottom hr */
blockquote > p > hr {
display: block;
height: .5px;
border: 0;
border-top: .5px solid #ccc;
margin: 1em 0;
padding: 1px;
overflow: auto;
clear: both;
}

/*Summary of Article*/
p > em > strong {
display:block;
/*padding: 15px 20px 15px 45px;*/
margin: 0 0 20px;
position: relative;
border-left: 15px solid #111;
border-right: 2px solid #111;
list-style-type: none;
}

/*Left Aligned Image*/
blockquote > p > em > img {
float: left;
margin-right:5px;
margin-bottom: 5px;
list-style-type: none;
}

/*Right Aligned Image*/
blockquote > p > strong > img {
float: right;
margin-left:5px;
margin-bottom: 5px;
list-style-type: none;
}

/*TODO: Table
blockquote > ul > li */

.p {
overflow: auto;
}

/*Social Media Buttons - https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */


.fab {
  padding: 10px;
  font-size: 28px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github {
background: #24292e;
color: white;
}

.fa-paypal {
background: #0070ba;
color: white;
}

.fa-patreon {
background: #f96854;
color: white;
}

.fa-btc {
background: #ff9500;
color: white;
}

.fa-ethereum {
background: #fff;
color: #000;
}

.fa-gitlab {
background: #544388;
color: orange;
}

.fa-git{
background: #ccc;
color: white;
}

.fa-gratipay{
background: #f6c915;
color: white;
}

.fa-stackexchange{
background: #242729;
color: #4679b7;
}

