<!DOCTYPE html>
<html lang="en">
<head>
<title>{{SITE_NAME}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" href="../../assets/style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<meta http-equiv="Refresh" content="0; url='https://gitlab.com/joedoe47'" />

</head><body>

<nav class="nav" tabindex="-1" onclick="this.focus()">
<div class="container">
<a name="top" class="pagename" href="https://git.joepcs.com"> <i class="fab fa-gitlab"></i> {{SITE_NAME}} </a>
